.container {
    width: 100px;
    height: 150px;
    background-color: cyan;
    color :red;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    box-sizing: border-box;
    padding-top: 30px;
    position: absolute;
    animation: Move 20s linear infinite; /* Adjust timing as needed */
}
body{
    background-color: chocolate;
}
@keyframes Move {
    0%, 100% {
        top: 10px;
        left: 10px;
    }
    25% {
        top: 10px;
        left: calc(100vw - 60px); /* Moves to the right corner */
    }
    50% {
        top: calc(100vh - 60px); /* Moves to the bottom corner */
        left: calc(100vw - 60px);
    }
    75% {
        top: calc(100vh - 60px); /* Moves to the left corner */
        left: 10px;
    }
}
